/* hide on devices */
@media screen and (min-width: 1199px) {
  .no-desk {
    display: none;
  }
}

@media screen and (max-width: 568px) {
  .no-mobile {
    display: none;
  }
}

.header-std {
  margin-bottom: 4px;
  margin-top: 12px;
}

#card {
  padding: 30px 20px;
  background: #f2f2f2;
}

/* .lrg-card {
  height: 600px !important;
  max-height: 80vh;
  width: 1200px;
}
@media screen and (max-width: 1440px) {
  .lrg-card {
    height: 550px !important;
    width: 900px;
  }
}
@media screen and (max-width: 992px) {
  .lrg-card {
    height: 500px !important;
    width: 650px;
  }
}
@media screen and (max-width: 992px) {
  .lrg-card {
    height: 400px !important;
    width: 100%;
  }
} */

.med-card {
  height: 450px !important;
  width: 350px;
}
@media screen and (max-width: 1440px) {
  .med-card {
    height: 400px !important;
  }
}
@media screen and (max-width: 992px) {
  .med-card {
    height: 350px !important;
  }
}

.sml-card {
  width: 10%;
  width: 300px;
}
@media screen and (max-width: 1440px) {
  .sml-card {
    width: 15%;
  }
}
@media screen and (max-width: 568px) {
  .sml-card {
    width: 25%;
  }
}

#mediumRow {
  height: 350px;
}

#largeRow {
  height: 450px;
  max-height: 65vh;
  margin-bottom: 20px;
}

.carousel-cell {
  margin-right: 10px;
  max-width: 90vw;
  counter-increment: gallery-cell;
  background: #f2f2f200;
  transition: all 0.3s ease;
}

.carousel-cell img {
  object-position: center;
  min-width: 100%;
}

/* CSSTricks scroll animation post - uses small js in head to connect to scroll variable */
.scroll-spin {
  position: fixed; /* make sure it stays put so we can see it! */

  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}


/* Custom classes and ids */
#headerArea {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background: #f2f2f220;
}

#headerLogo {
  filter: drop-shadow(0px 0px 10px #ffffff75);
}


/* PayPal fix design */
.cf-paypal-buttons cloudflare-app {
  padding: 30px 0px !important;
  justify-content: start !important;  
}

.cf-paypal-buttons button.paypal-button .paypal-button-logo, .cf-paypal-buttons button.paypal-button .paypal-button-content {
  height: 45px !important; 
}

.cf-paypal-buttons button.paypal-button .paypal-button-logo {
  height: 45px !important;
}
